<h1>Edit article</h1>
<%# меняем action на article_path(@article) см код в браузере %> 
<%# method: :put для того чтобы можно было редактировать, по умолчанию было post  %> 
<%= form_for :article, url: article_path(@article), method: :put, data: {turbo:false} do |f| %>
  <p>
    <%= f.label :title %></br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %></br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit%>
  </p>
<% end %>