<% @articles.each do |article|%>

  <h3>
    <%= article.title %>
  </h3>
  
  <p>
    <%= article.text %>
  </p>
 
  <p>
    Created at <%= article.created_at.strftime("%H:%M %d %b %Y")%>
  </p>

  <p>
    <%= link_to 'Show', article_path(article) %> |
    <%= link_to 'Edit', edit_article_path(article) %> |
    <%= link_to 'Destroy', article_path(article), data: {'turbo-method': :delete, 'turbo-confirm': "Are you shure?"} %>
  </p>
 <hr />
<% end %>