<h1>New article</h1>

<%= form_for :article, url: articles_path, data: {turbo:false} do |f| %>
  <p>
    <%= f.label :title %></br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %></br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit%>
  </p>
<% end %>