<h2><%= @article.title %></h2>

<p>
  <%= @article.text %>
</p>
<hr />
<h3>Comments</h3>

<% @article.comments.each do |comment|%>

  <p>
    <i> <%= comment.author %> </i> said: </br>  
    <%= comment.body %>
  </p>
 
  <p>
    <%= comment.created_at.strftime("%H:%M:%S %d %b %Y")%>
  </p>
  <hr />
<% end %>

<h3>Add comment</h3>

<%# получаем такой URL для комментария /articles/8/comments%>

<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :author %></br>
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.label :body %></br>
    <%= f.text_area :body %>
  </p>

  <p> 
    <%= f.submit%>
  </p>
<% end %>

<p><%= link_to "Back", articles_path %></p>

